:root {
    --pinkme: #ff66b2;
}

#navbar {
    background-color: #f25278;
}

#button {
    background-color: #fda4ba;
    color: black;
    border: white;
    font-weight: bold;
}

#navbar .logo {
  max-height: 100px;
  height: auto;
  width: auto;
}

#a {
    color: #f25278;
    font-weight: bold;
}

#PinkBank {
    color: black;
    font-weight: bold;
}
#pesquisar {
    background-color: black;
    color : white;
    font-weight: bold;
    border: white;
}

.pinkbank-footer {
    background-color:#f25278;
    color: white; 
}

.pinkbank-footer a {
    color: white;
}

.pinkbank-footer a:hover {
    color: #ffd1e0; 
}


.pinkbank-badge {
  background-color: #f25278 !important; 
  color: #ffffff !important;
}

.pinkbank-btn {
  background-color: #fda4ba !important; 
  color: white !important; 
  font-weight: bold;
  border: none;
}

.planos-rosa {
  background-color: #FFB6C1; 
  color: white; 
}

.planos-rosa .text-muted {
  color: #ffe0f0;
}



